<th:block th:fragment="content">
    <div class="filter" th:if="${seek != null}">
        Поиск:<b th:text="${seek}"></b><i class="fas fa-times text-danger" title="Сбросить" onclick="unseek()"></i>
    </div>
    <table class="table-1">
        <thead>
            <tr>
                <th width="10%">ID</th>
                <th width="10%">Вкл/выкл</th>
                <th width="15%">Логин</th>
                <th width="45%">Информация</th>
                <th width="20%">Действия</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user: ${list}">
                <td th:text="${user.getId()}"></td>
                <td class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" th:checked="${user.getIsActive()}" th:onclick="activate([[${user.id}]], this)" />
                </td>
                <td th:text="${user.getLogin()}"></td>
                <td>
                    <section class="info">
                        <div class="info-row">
                            <div class="caption">Фамилия</div>
                            <div class="data" th:text="${user.getLastName()}"></div>
                        </div>
                        <div class="info-row">
                            <div class="caption">Имя</div>
                            <div class="data" th:text="${user.getFirstName()}"></div>
                        </div>
                        <div class="info-row">
                            <div class="caption">Отчество</div>
                            <div class="data" th:text="${user.getPatronymic()}"></div>
                        </div>
                        <div class="info-row">
                            <div class="caption">Пол</div>
                            <div class="data" th:text="${user.getGenderText()}"></div>
                        </div>
                        <div class="info-row">
                            <div class="caption">Email</div>
                            <div class="data" th:text="${user.getEmail()}"></div>
                        </div>
                        <div class="info-row">
                            <div class="caption">Регистрация</div>
                            <div class="data" th:text="${user.getCreatedAtText()}"></div>
                        </div>
                    </section>
                </td>
                <td>
                    <div class="action">
                        <div class="action-btn" th:onclick="edit([[${user.id}]])">
                            <i class="fas fa-edit text-success" title="Редактировать"></i>
                        </div>
                        <div class="action-btn" th:onclick="contacts([[${user.id}]])">
                            <i class="fas fa-phone-square text-primary" title="Контакты"></i>
                        </div>
                        <div class="action-btn" th:onclick="kill([[${user.id}]])">
                            <i class="fas fa-times text-danger" title="Удалить"></i>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <ul class="page-control" th:if="${pagination} != null">
        <th:block th:each="page: ${pagination.pages}">
            <li th:if="${!page.isSkipped && !page.isActive}"
                th:text="${page.number}"
                th:onclick="go([[${page.number}]])"
            ></li>
            <li th:if="${!page.isSkipped && page.isActive}"
                th:text="${page.number}"
                class="active"
            ></li>
            <li th:if="${page.isSkipped}"
                class="skip"
            ></li>
        </th:block>
    </ul>

    <script th:inline="javascript">
        // отменить поиск
        function unseek() {
            preloader(true);
            $.ajax({
                url  : `/unseek`,
                type : 'DELETE',
                data : '{}',
                contentType: 'application/json',
                success: () => {
                    preloader(false);
                    document.location.href =  '/list';
                },
                error: () => {
                    preloader(false);
                    window.alert('Не удалось отменить поиск!');
                }
            });
        }

        // перейти на страницу с заданным номером
        function go(page) {
            if (page && page >= 1) {
                document.location.href = page > 1 ? `/list/${page}` : '/list';
            }
        }

        // включить/выключить пользователя
        function activate(id, obj) {
            const active = $(obj).prop('checked');
            $.ajax({
                url  : `/list/${active ? 'activate' : 'deactivate'}/${id}`,
                type : 'PUT',
                data : '{}',
                contentType: 'application/json',
                error: () => {
                    window.alert('Не удалось изменить статус пользователя!');
                }
            });
        }

        // переход на страницу редактирования
        function edit(id) {
            document.location.href = `/edit/${id}`;
        }

        // переход на страницу контактов
        function contacts(id) {
            document.location.href = `/contacts/${id}`;
        }

        // удаление пользователя
        function kill(id) {
            if (confirm('Вы действительно хотите удалить данного пользователя?')) {
                preloader(true);
                $.ajax({
                    url  : `/list/kill/${id}`,
                    type : 'DELETE',
                    data : '{}',
                    contentType: 'application/json',
                    success: () => {
                        preloader(false);
                        window.location.reload();
                    },
                    error: () => {
                        preloader(false);
                        window.alert('Не удалось удалить пользователя!');
                    }
                });
            }
        }

        document.addEventListener('DOMContentLoaded', function() { 
            window.sessionStorage.setItem('page', [[${page}]]);
        });
    </script>
</th>
